.assistant {
  margin: 0 auto;
  background: #f6f8fa;
  position: relative;
}

/* ============= Text Header Block =============== */

.assistant__container-text {
  margin-bottom: 80px;
}
.assistant h2 {
  margin: 0 0 60px;
}
.assistant__subText {
  font-weight: 700;
  font-size: 24px;
}

/* ============  Cards Block  =============== */

.assistant__list-container {
  display: grid;
  grid-template-columns: 1fr 55px 394px;
  gap: 30px;
}
.assistant__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 34px 30px;
}
ul.assistant__list li:last-child .assistant__item__text {
  color: #3874b6;
  font-size: 20px;
  text-transform: uppercase;
}
.assistant__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 24px 15px 22px 15px;
  flex-shrink: 0;

  border-radius: 7px;
  background: #fff;
  box-shadow: -15px 40px 40px 0px rgba(60, 68, 96, 0.1);
}
/* svg block */
.assistant__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 105px;
  flex-shrink: 0;
  margin: 0 auto 20px;

  border-radius: 50%;
  background: #f6f8fa;
}

.assistant__svg-vector {
  display: flex;
  width: 12px;
  height: 9px;
  flex-shrink: 0;
  margin: 0 auto 10px;
}
.assistant__item__text {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}
/* =========== Svg Decor Block ================ */

.assistant__svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.assistant__img-conainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.assistant__img {
  flex-shrink: 0;

  border: 2px solid #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background: linear-gradient(158deg, rgba(164, 151, 249, 0) 16.15%, rgba(164, 151, 249, 0.5) 100%),
    url(../images/35316ece1f6aeceec1abdc6880386d70.gif), lightgray 50%;

  border: 2px solid #fff;
}
.assistant__svg-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #fff;
}
/* =============  Btn group  ============== */

.assistant__btn-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 80px 0 13px;
  align-items: center;
}
.assistant__bg-decor {
  width: 1920px;
  height: 157px;
  position: absolute;
  top: -155px;
  left: 0;
}

.assistant__label {
  color: #57a6eb;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  text-transform: uppercase;
}
.assistant__label::before {
  content: '—';
  color: #57a6eb;
}
/* ==========  Decor  ========== */
.top-decor-wrap {
  background: #fff;
  /* height: 157px; */
}
.top-decor-wrap svg {
  display: block;
  width: 100%;
}
.bottom-decor-wrap {
  background: #fff;
  /* height: 157px; */
}
.bottom-decor-wrap svg {
  display: block;
  width: 100%;
}
/*========  Responsive  ===========*/
@media screen and (max-width: 1200px) {
  .assistant h2 {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .assistant__list-container {
    grid-template-columns: 100%;
  }
  .assistant__svg-container {
    rotate: 90deg;
  }
  .assistant__img {
    aspect-ratio: 1/0.7;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .assistant h2 {
    margin: 0 0 20px;
  }
  .assistant__list {
    grid-template-columns: 1fr 1fr;
  }
  .assistant__subText {
    font-size: 18px;
  }
  .assistant__container-text {
    margin-bottom: 30px;
  }
  .assistant__svg-label {
    width: 125px;
    height: 125px;
  }
  .assistant__svg-label svg {
    width: 75px !important;
    height: 75px !important;
  }
  .assistant__btn-container {
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 10px;
  }
}

@media screen and (max-width: 479px) {
  .assistant__subText {
    font-size: 16px;
  }
  .assistant__list {
    grid-template-columns: 100%;
    gap: 20px;
  }
  .assistant__svg-label {
    width: 105px;
    height: 105px;
  }
  /* .top-decor-wrap {
    height: 97px;
  } */
}

@media screen and (min-width: 1024px) {
  .assistant__list-container {
    position: relative;
    z-index: 1;
  }
  .assistant__list-container::after {
    content: url(../images/Frame.png);
    position: absolute;
    left: -17%;
    top: 22%;
    z-index: -1;
  }
}
