.contact {
  position: relative;
  padding: 57px 0 71px;
  background-color: rgba(56, 116, 182, 0.9);
  overflow: hidden;
  text-align: left;
}
.decorate-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.container--position {
  position: relative;
}
/* ========= Content Block ========== */
.content--wrap {
  max-width: 666px;
}
.photo--wrapper {
  position: absolute;
  min-width: 846px;
  bottom: -71px;
  right: -125px;
}
.content--wrap h2 {
  color: #fff;
  margin: 0 0 30px;
}
.content__text {
  margin: 0 0 49px;
  color: #fff;
}

/* =========== Form ========== */

.contactUs__form {
  z-index: 1;
}

.contactUs__input {
  resize: none;
  font-family: Manrope;

  padding-left: 30px;
  padding-bottom: 11px;
  width: 475px;

  margin: 15px auto 15px auto;

  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
}

.contactUs__input:hover,
.contactUs__input:focus,
.contactUs__input:focus-within,
.contactUs__input:focus-visible {
  border-color: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 4px;
  border-bottom: 1px solid red;
  border-bottom-left-radius: 4px;

  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
.contactUs__input::placeholder {
  color: #fff;
}

.contactUs__label-container {
  position: relative;
}
.contactUs__btn {
  padding: 11px 18px 12px 50px;
  margin: 57px 0 0;
  border: none;
}
.contactUs__btn span {
  margin: 0 0 0 32px;
}
/* ========= Responsive =========== */
@media screen and (max-width: 1024px) {
  .photo--wrapper {
    display: none;
  }
  .contactUs {
    align-items: center;
  }
  .contactUs__input {
    width: 100%;
  }

  .contactUs-label {
    width: 100%;
  }
  .contactUs__label {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .contactUs__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content--wrap h2 {
    margin: 0 0 20px;
  }
  .content__text {
    margin: 0 0 20px;
  }
  .contactUs__btn {
    margin: 40px 0 0;
  }
}
