.partners {
  padding: 130px 0 123px;
  background: #f6f8fa;
  overflow: hidden;
}
.partners h2 {
  margin: 0 0 6px;
  text-align: center;
}
.partners__text {
  margin: 0 0 57px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
}

.partners__list {
  display: flex;
  animation-name: move;
  animation-direction: alternate;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-1000px);
  }
}
.partners__item {
  display: inline-block;
  max-width: 242px;
  max-height: 86px;
  padding: 26px;
  flex-shrink: 0;

  border-radius: 7px;
  background: #fff;
  box-shadow: -15px 40px 40px 0px rgba(60, 68, 96, 0.1);

  margin-left: 49px;
}
.partners__item span {
  color: #777;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
}

/* ========== Responsive ============= */
@media screen and (max-width: 767px) {
  .partners {
    padding: 60px 0;
  }
  .partners__text {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .partners__item span {
    font-size: 20px;
  }
}
@media screen and (max-width: 479px) {
  .partners__text {
    font-size: 18px;
  }
  .partners__item span {
    font-size: 18px;
  }
}
