:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --second-color: #757575;
  --primery-white-color: #ffffff;
  --button-second-backgund: #f5f4fa;
  --hero-bg: #2f303a;
  --header-border-color: #ececec;
  --primery-grey-color: #afb1b8;
  --card-border-color: #eeeeee;
  --hero-bg-hover: #188ce8;
  --accent-color-bg-card: rgba(33, 150, 243, 0.9);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: Manrope;
}

ul {
  list-style: none;
}
p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
}
h1,
h2,
h3,
h4 {
  font-size: 52px;
  font-weight: 800;
  font-style: normal;
  line-height: 120%; /* 64.8px */
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: #ef5559;
  inherits: false;
}
@property --myColor2 {
  syntax: '<color>';
  initial-value: #3e82be;
  inherits: false;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;

  cursor: pointer;

  width: 222px;
  height: 60px;
}
.button__primery {
  border: 0px solid transparent;

  color: #fff;

  background: linear-gradient(270deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 500ms, --myColor2 500ms;

  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}
.button__primery:hover,
.button__primery:focus {
  --myColor1: #3e82be;
  --myColor2: #ef5559;
}
.button__secondary {
  border: 1px solid #ee5559;
  background-color: #fde6e6;
  color: #ee5559;

  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__secondary:hover,
.button__secondary:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ee555a4c;
}
.button__tertiary {
  background-color: #ee5559;
  border: 1px solid #ee5559;

  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__tertiary:focus,
.button__tertiary:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ee555ac7;
}

.btn__header {
  justify-content: center;

  width: 125px;
  height: 44px;
}

.assistant__btn {
}
.Efficiency-section__btn {
  width: 259px;
}

.footer__btn__second {
  margin-top: 23px;
}

.btn__second__vector {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px 11px 0px 38px;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  background: #ee5559;
  border-radius: 50%;
}
.assistant__btn-second {
  margin-left: 69px;
}

.product__btn {
  justify-content: center;
}

.contactUs__btn {
  width: 259px;
  margin: 57px 0 0 0;
}

.button__tertiary__footer {
  margin-top: 22px;
  margin-bottom: 15px;

  border: 1px solid black;
}

.social-links__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 53px;
  height: 27px;
  flex-shrink: 0;

  padding: 3px 8px 5px 8px;
  margin-right: 360px;

  border-radius: 5px;
  border: 1px solid transparent;
  background: #6284bf;

  color: var(--primery-white-color);
}
.nav-links__items__btn {
  background-color: transparent;
  border: transparent;
}
.Efficiency-section__title {
  color: #57a6eb;

  font-size: 54px;

  margin-bottom: 38px;
  margin-top: 8px;
}

.Efficiency-section__welcome {
  content: 'Welcome to Patent Maker';
  color: #ef5559;

  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 24px */

  margin: 0;
}
@media screen and (max-width: 479px) {
  .Efficiency_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1169px;

    background-image: url('../images/Rectangle\ 3.png');
  }
  .Efficiency-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Efficiency-section__welcome {
    content: 'Welcome to Patent Maker';
    color: #ef5559;

    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 24px */

    margin: 0;
    margin-top: 80px;
  }

  .technology__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .Efficiency_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

    width: 1344px;
    background-image: url('../images/Rectangle\ 3.png');
  }
  .Efficiency-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .technology__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .Efficiency_container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1920px;
    height: 780px;

    background-image: url('../images/Rectangle\ 3.png');
  }
  .technology__container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1920px;
  }
}

.header {
  z-index: 5;
  top: 0;
  position: fixed;
  height: 142px;
  width: 100%;
  /* background-color: rgba(15, 14, 46, 0.17) */
}
.header__container {
}

.header::after {
  content: '';
  display: flex;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.1);
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* margin: auto; */
  max-width: 1920px;
  height: 40px;
  background: linear-gradient(270deg, #24469e 0%, #3e82be 100%);
}
.social-links__container {
  display: flex;
  align-items: center;
}
.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;
  margin-left: 5px;
  flex-shrink: 0;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
}

.social-links__telephone {
  display: flex;
  align-items: center;
  text-decoration: none;

  margin: 0px 23px 0px 23px;

  color: var(--primery-white-color);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 102px;
  max-width: 1920px;
  flex-shrink: 0;

  /* background-color: var(--primery-grey-color); */
}
.nav-links__container {
  display: flex;
}
.nav-links__items {
  margin-right: 30px;
}
.nav-links__items__link {
  text-decoration: none;
  color: var(--primery-white-color);
}

.Efficiency-section {
  margin: 40px auto 0px auto;

  position: relative;
}

.Efficiency-section__text {
  color: #fff;
}

.Efficiency-section__vektor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 11px 0px 38px;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.Efficiency-info {
  z-index: 1;
  position: relative;

  margin-left: 77px;
  margin-top: 218px;
  width: 506px;
  height: 552px;
  flex-shrink: 0;

  background-color: rgba(60, 68, 96, 0.9);
}
.Efficiency-info__img {
  width: 100%;
  height: 100%;
  background: linear-gradient(165deg, rgba(164, 151, 249, 0) 28.67%, rgba(164, 151, 249, 0.5) 100%),
    url(../images/Rectangle.png), lightgray -1.978px 0px / 183.971% 100% no-repeat;
  box-shadow: -15px 30px 40px 0px rgba(60, 68, 96, 0.15);
  background-size: cover;
}

.Efficiency-info__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 7px;
}

.Efficiency-info__text__Improvement {
  color: #24479e;
  background: #fff;
  box-shadow: -15px 35px 45px 0px rgba(60, 68, 96, 0.25);

  position: absolute;
  left: -14%;
  top: 49%;
}
.Efficiency-info__text__Efficiency {
  color: white;
  background: #57a6eb;
  box-shadow: -15px 35px 45px 0px rgba(60, 68, 96, 0.25);

  position: absolute;
  left: 65%;
  top: -4%;
}

.Efficiency-info__text__Technology {
  color: white;
  background: #3874b6;
  box-shadow: -15px 35px 45px 0px rgba(60, 68, 96, 0.25);

  position: absolute;
  left: -10%;
  top: 74%;
}

.Efficiency-info__text__Optimization {
  color: white;
  background: #24479e;
  box-shadow: -15px 35px 45px 0px rgba(60, 68, 96, 0.15);

  position: absolute;
  left: 45%;
  top: 95%;
}
.Efficiency-svg {
  width: 1920px;
  height: 157px;
  position: absolute;
  bottom: -2px;
}

.technology {
  margin: 111.5px auto 269px auto;
}

.technology__img-container {
  width: 473px;
  height: 541px;
  flex-shrink: 0;
  box-shadow: -15px 30px 40px 0px rgba(60, 68, 96, 0.15);
  background-color: #188ce8;
}
.technology__img {
  width: 100%;
  height: 100%;
  background: #fff url('../images/man.jpg') no-repeat center;
  background-size: cover;
}
.technology__label {
  color: #57a6eb;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%; /* 25.6px */
  text-transform: uppercase;
}
.technology__label::before {
  content: '—';
  color: #57a6eb;
}
.technology__title {
  color: #071e57;
  margin: 0px 0px 39px 0px;
}

.technology__text {
  width: 627px;

  color: #474747;

  font-size: 16px;
}

.assistant {
  margin: 0 auto;

  background: #f6f8fa;
  position: relative;
}
.assistant__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1920px;
}
.assistant__label {
  color: #57a6eb;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%; /* 25.6px */
  text-transform: uppercase;
}
.assistant__label::before {
  content: '—';
  color: #57a6eb;
}
.assistant__title {
  color: #071e57;

  margin: 6px 0px 61px 0px;
}

.assistant__text {
  color: #474747;

  font-weight: 700;
}

.assistant__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

  gap: 34px 28px;
  margin: 0;
}

.assistant__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;  */

  width: 210px;
  height: 241px;
  flex-shrink: 0;

  border-radius: 7px;
  background: #fff;
  box-shadow: -15px 40px 40px 0px rgba(60, 68, 96, 0.1);

  /* width: calc((100% / 3) - 20px + 20px / 4); */
}

.assistant__item__text {
  color: #071e57;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%; /* 25.6px */
}

.assistant__img {
  width: 394px;
  height: 516px;
  flex-shrink: 0;

  border: 2px solid #fff;
  background: linear-gradient(158deg, rgba(164, 151, 249, 0) 16.15%, rgba(164, 151, 249, 0.5) 100%),
    url(../images/35316ece1f6aeceec1abdc6880386d70.gif), lightgray 50% / cover no-repeat;
  background-position: top;
}
/* .assistant__img:hover,
.assistant__img:focus {

  width: 555px;
  height: 888px;
  background-size: 788px, 1032px;
} */

.assistant__svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 29px 0px 31px;
}
.assistant__svg {
  width: 105px;
  height: 105px;
  flex-shrink: 0;

  margin: 25px 0px 19px 0px;

  border-radius: 50%;
  background: #f6f8fa;
}
.assistant__svg-vector {
  width: 12px;
  height: 6px;
  flex-shrink: 0;
}

.product {
  margin: 221px auto;
}
.product__container {
  display: flex;
  justify-content: center;
  max-width: 1920px;
}
.product__text-container {
  margin-top: 20px;
  width: 613px;
  margin-right: 78px;
}

.product__label {
  margin-top: 10px;
  color: #57a6eb;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%; /* 25.6px */
  text-transform: uppercase;
}

.product__label::before {
  content: '— ';
  color: #57a6eb;
}
.product__title {
  margin: 0px 0px 55px 0px;

  color: #071e57;
}
.product__text {
  margin: 0px 0px 61px 0px;

  color: #474747;

  font-size: 16px;
}

.video-section {
  position: relative;

  display: flex;
  align-items: flex-end;
  /* justify-content: center; */

  margin: 0 auto;
  width: 1345px;
  height: 656px;
  flex-shrink: 0;

  background: linear-gradient(0deg, #3e82be 0%, #3e82be 100%), url(../images/Rectangle\ 95.png),
    lightgray -36.892px -1293.485px / 139.63% 308.148% no-repeat;
}

.video {
  position: absolute;
  left: 21%;
  top: -75px;
  background-color: #071e57;

  width: 780px;
  height: 462px;
  flex-shrink: 0;

  border-radius: 20px;
  border: 10px solid #071e57;
}
.video-section__text-container {
  width: 937px;
  margin: auto 204px 78px 204px;
}
.video-section__title {
  color: #fff;
  text-align: center;

  text-align: center;
}
.video-section__text {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.partners {
  margin: 130px auto 0px auto;
  overflow: hidden;
  max-width: 1920px;
  background: #f6f8fa;
}
.partners__title {
  margin: 130px auto 6px auto;
  color: #071e57;
  text-align: center;
}
.partners__text {
  margin: 0;
  color: #474747;
  text-align: center;

  font-weight: 800;
  line-height: 120%; /* 28.8px */
}

.partners__container {
  display: inline-flex;

  margin: 57px auto 123px auto;

  animation-name: move;
  animation-direction: alternate;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-1000px);
  }
}
.partners__item {
  width: 242px;
  height: 86px;
  flex-shrink: 0;

  border-radius: 7px;
  background: #fff;
  box-shadow: -15px 40px 40px 0px rgba(60, 68, 96, 0.1);

  margin-left: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs {
  display: flex;
  justify-content: center;

  position: relative;
  max-width: 1920px;
  height: 672px;
  flex-shrink: 0;

  background: 
  /* linear-gradient(0deg, rgba(56, 116, 182, 0.9) 0%, rgba(56, 116, 182, 0.9) 100%), */ url(../images/Rectangle\ 41.png),
    lightgray 50% / cover no-repeat;
}

.contactUs::after {
  content: '';
  /* opacity: 0.7; */
  display: block;
  background: url(../images/kisspng-businessperson-business-administration.png);
  width: 856px;
  height: 635px;

  position: absolute;
  bottom: 0;
  left: 45%;
}
.contactUs__title {
  margin: 57px auto 0 auto;
  color: #fff;
}

.contactUs__text {
  margin: 0px auto 49px auto;
  color: #fff;

  font-size: 16px;
}

.contactUs__form {
  width: 475px;
}

.contactUs__input {
  width: 475px;

  margin: 15px auto 15px auto;

  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
}
.contactUs__input:hover,
.contactUs__input:focus,
.contactUs__input:focus-within,
.contactUs__input:focus-visible {
  border-color: white;
  outline: 1px solid white;
  border-radius: 4px;

  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
.contactUs__input::placeholder {
  color: #fff;
}

.footer {
  max-width: 1920px;
  height: 388px;
  flex-shrink: 0;

  margin: 0 auto;

  background: #262626;
}
.footer__nav {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.footer__nav::after {
  position: absolute;
  content: '';

  width: 1200px;
  height: 1px;
  bottom: -30%;

  background: rgba(255, 255, 255, 0.1);
}

.footer__title {
  color: #fff;

  font-size: 18px;

  text-transform: uppercase;

  margin-top: 56px;
  margin-bottom: 15px;
}
.footer__text {
  color: rgba(255, 255, 255, 0.5);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */

  margin: 0px 0px 7px 0px;
}

.footer__mail {
  color: #fff;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  text-decoration: none;
}
.footer__menu {
  margin: 0px 0px 0px 213px;
}

.footer__resources {
  margin: 0px 0px 0px 95px;
}
.footer__product {
  margin: 0px 0px 0px 75px;
}

.footer__under {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 76px auto 0 auto;

  width: 1200px;

  color: rgba(255, 255, 255, 0.5);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}
.footer__under__list {
  display: inline-flex;
  padding: 0px;
}

.footer__under__item::after {
  margin-left: 10px;
  margin-right: 10px;
  content: '|';
  color: rgba(255, 255, 255, 0.5);
}

.footer__under__item:nth-last-child(1)::after {
  color: black;
}
