.technology-section {
  padding: 35px 0 110px 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.technology-section h2 {
  margin: 0 0 39px;
}
.technology--wrapper {
  display: grid;
  grid-template-columns: 473px 1fr;
  gap: 100px;
}
/* ======== Image Block ========= */
.technology__img-container {
  max-height: 541px;
  flex-shrink: 0;
  box-shadow: -15px 30px 40px 0px rgba(60, 68, 96, 0.15);
  background-color: #fff;
}
/* ========= Content Block ========== */
.technology__container {
  margin: 60px 0 0;
}
.technology-section h2 {
  margin: 0 0 39px;
}
.technology__text {
  text-align: start;
}
/* ========= Responsive ========== */
@media screen and (max-width: 1200px) {
  .technology--wrapper {
    grid-template-columns: 100%;
    gap: 50px;
  }
  .technology__img-container {
    aspect-ratio: 1/0.6;
    max-height: 100%;
  }
  .technology__img-container img {
    object-position: center top;
  }
  .technology__container {
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .technology-section {
    padding: 35px 0 60px 0;
  }
  .technology--wrapper {
    grid-template-columns: 100%;
    gap: 40px;
  }
  .technology-section h2 {
    margin: 0 0 24px;
  }
  .technology__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .technology__img {
    position: relative;
    z-index: 1;
  }
  .technology__img-container {
    position: relative;
    z-index: 1;
  }

  .technology__img-container::after {
    content: url(../images/Frame.png);
    position: absolute;
    left: -40%;
    top: 60%;
    z-index: -1;
  }
}
