.video-section {
  position: relative;
  margin: 120px 0 85px;
  margin-top: 120px;
  margin-bottom: 85px;
  background: #fff;
  text-align: center;
}
.video-section__container--bg {
  background: linear-gradient(0deg, #3e82be, #3e82be);
  max-width: 1345px;
  position: relative;
}
.decorate-svg--wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
/* ============ Video ============== */
.video__container {
  max-width: 780px;
  max-height: 462px;
  width: 100%;
  position: absolute;
  top: -72px;
  left: 50%;
  transform: translate(-50%);
}
.video__container-video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 10px solid var(--title-color);
  box-shadow: -15px 30px 40px rgb(60 68 96 / 15%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06));
}
/* ========== Play ============ */
.play-btn--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.32);
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.play-btn__red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-color: #ee5559;
}
.play-btn__red img {
  width: 33px;
  height: 37px;
  opacity: 0.52;
  margin-left: 10px;
}
/* ========== Text ============ */
.video-section__text-container {
  padding: 436px 0 78px;
  max-width: 937px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.video-section__title {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
}

/* ========== Responsive ========== */
@media screen and (max-width: 991px) {
  .video__container {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .video-section {
    margin: 120px 0 60px;
  }
  .play-btn--wrap {
    width: 130px;
    height: 130px;
  }
  .play-btn__red {
    width: 86px;
    height: 86px;
  }
  .video-section__text-container {
    padding: 52% 0 40px;
    max-width: 100%;
  }
  .video-section__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 479px) {
  .play-btn--wrap {
    width: 95px;
    height: 95px;
  }
  .play-btn__red {
    width: 62px;
    height: 62px;
  }
  .video-section__text {
    font-size: 14px;
  }
}
